<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.zxf.flowsplice.home2</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HOME2_ROOT__/bin/flowsplice-homeagent</string>
    <string>--config</string>
    <string>__HOME2_ROOT__/homeagent.toml</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__HOME2_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>__HOME2_ROOT__/logs/home2.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME2_ROOT__/logs/home2-error.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
